<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- 
      ./ = pasta raiz, que é a pasta em que estamos;
      ../ = sair da pasta em que estamos para ir à pasta anterior;
      rel="icon" => muda o ícone no nome da aba; 
      -->
      <link rel="icon" href="/images/logo-icon.png">

      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="/css/animations.css">
      <link rel="stylesheet" href="/css/page-landing.css">

      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">

      <title>Happy</title>
   </head>
   <body>
      <div id="page-landing">
         <div id="container">
            <header>
               <img id="logo" class="animate-up" src="/images/logo.svg" alt="Logomarca do Happy">
      
               <div class="location animate-up">
                  <strong>Rio do Sul</strong>
                  <p>Santa Catarina</p>
               </div>
            </header>
      
            <main>
               <h1 class="animate-up">Leve felicidade para o mundo</h1>
      
               <section class="visit">
                  <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças.</p>
      
                  <!-- title = atributo que faz aparecer uma msg ao descansar o mouse na tag -->
                  <a class="animate-up" href="/orphanages" title="Visite orfanatos">
                     <img src="/images/arrow.svg" alt="Ir para o mapa">
                  </a>
               </section>
            </main>
         </div>
      </div>
  </body>
</html>
